body {
    text-align: center;
    padding-top: 20rem;
    justify-content: center;

}

div{
    border: 1px solid orange;
    background-color: rgb(237, 219, 205);
    border-radius: 10px;
    margin-left: 35rem;
    margin-right: 35rem;
}

input{
    border-radius: 10px;
}

.btn{
    background-color: #93FAFA;
    font-family: sans-serif;
    border-color: azure;
    color: blue;
    margin-right: 20px;
}